.player{
  text-align: center;
  margin-top: 40px;
}

.player div{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


.player .player__backward button, .player .player__forward button{
  background: transparent;
  border: 1px solid rgb(190,190,190);
  color: rgb(190,190,190);
  width: 75px;
  height: 75px;
  border-radius: 100%;
  font-size: 35px;
  outline: none;
}

.player .player__backward button{
  border-left: none;
}

.player .player__forward button{
  border-right: none;
}

.player .player__main button:hover, .player .player__backward button:hover, .player .player__forward button:hover{
  color: rgb(190,190,190);
  border: 1px solid rgb(190,190,190);
}

.player .player__main {
  border: 1px solid rgb(190,190,190);
}

.player .player__main button {
  color: rgb(190,190,190);
  background: transparent;
  width: 75px;
  height: 75px;
  border: none;
  font-size: 35px;
  outline: none;
}
