body {
  background: url('./assets/images/concert_music_crowd.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.info-badge {
  pointer-events: none;
  cursor: default;
}
