:root {
  --component-background-color: black;
  --component-border-color: deepskyblue;
  --component-content-color: deeppink;
}

body {
  background-color: black !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
