<div class="player">
  <div class="player__backward">
    <button (click)="backward.emit()" class="btn" [disabled]="isStart() || isNotLoaded()">
      <i class="fa fa-backward"></i>
    </button>
  </div>

  <div class="player__main">
    <button *ngIf="isPaused() || isNotLoaded() || isStart() || isStop()" (click)="pauseplay.emit()" class="btn"
            [disabled]="isStart() || isNotLoaded()">
      <i class="fa fa-play"></i>
    </button>
    <button *ngIf="isPlay()" (click)="pauseplay.emit()" class="btn" [disabled]="isStart() || isNotLoaded()">
      <i class="fa fa-pause"></i>
    </button>
    <button (click)="stop.emit()" class="btn" [disabled]="isStart() || isNotLoaded()">
      <i class="fa fa-stop"></i>
    </button>
  </div>

  <div class="player__forward">
    <button (click)="forward.emit()" class="btn" [disabled]="isStart() || isNotLoaded()">
      <i class="fa fa-forward"></i>
    </button>
  </div>
</div>
