.player{
  text-align: center;
  margin-top: 40px;
}

.player div{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.player .player__backward button, .player .player__forward button{
  background: transparent;
  border: 2px solid darkmagenta;
  color: deeppink;
  width: 75px;
  height: 75px;
  border-radius:100%;
  font-size: 35px;
  outline: none;
  box-shadow: 0 0 20px darkmagenta, inset 0 0 20px darkmagenta;
}

.player .player__backward button{
  border-left: none;
}

.player .player__forward button{
  border-right: none;
}

.player .player__main button:hover, .player .player__backward button:hover, .player .player__forward button:hover{
  color: deeppink;
  border: 2px solid darkmagenta;
  box-shadow: 0 0 30px darkmagenta, inset 0 0 30px darkmagenta;
}

.player .player__main {
  border: 2px solid darkmagenta;
  box-shadow: 0 0 20px darkmagenta, inset 0 0 20px darkmagenta;
}

.player .player__main button {
  color: deeppink;
  background: transparent;
  width: 75px;
  height: 75px;
  border: none;
  font-size: 35px;
  outline: none;
}

