<div class="card player-container">
  <div class="content-container">
    <music-details
      [track]="playerService.track"
      [message]="message"
    ></music-details>
    <music-player
      (backward)="handleBackward()"
      (forward)="handleForward()"
      (pauseplay)="handlePausePlay()"
      (stop)="handleStop()"
      [enabled]="playerButtonEnabled"
      [playing]="playing"
    ></music-player>
    <music-progress
      [current]="currentTime"
    ></music-progress>
  </div>
</div>
