<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <style-select-component (sendSearchRequest)="handleSearchRequest($event)"></style-select-component>
    </div>
    <div class="col-lg-8">
      <div *ngIf="tracksLoaded" class="card player-container">
        <div [ngStyle]="backgroundStyle">
          <music-details
            [name]="name"
            [artist]="artist"
            [release]="release"
          ></music-details>
          <music-player
            (backward)="handleBackward()"
            (forward)="handleForward()"
            (pauseplay)="handlePausePlay()"
            (stop)="handleStop()"
            [paused]="paused"
          ></music-player>
          <music-progress
            [current]="position"
            [elapsed]="elapsed"
            [total]="duration"
          ></music-progress>
        </div>
        <div style="height: 30px"></div>
      </div>
      <div *ngIf="!tracksLoaded">
        Tracks don't find for this style or artist.
      </div>
    </div>
  </div>
</div>

