<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <div class="input-group">
          <input type="text" class="form-control search-input" id="search" style="text-transform:uppercase"
                 aria-label="Text input with dropdown button" required [(ngModel)]="searchParams.search" name="search">
          <input type="text" id="type" [(ngModel)]="searchParams.type" name="type" required [style.display]="'none'">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle select-search-button" type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              {{searchParams.type}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" *ngFor="let type of searchTypes" (click)="onSelectSearchType(type)">
                {{type}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col listen-button-container">
      <button type="submit" class="btn listen-button" [disabled]="!searchForm.form.valid">
        LISTEN
      </button>
    </div>
  </div>
</form>
