.progress{
  text-align: center;
  margin-top: 40px;
  color: white;
  background-color: transparent;
  display: block;
}

.progress progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 390px;
  margin-left: 4px;
  margin-right: 4px;
}

.progress progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgb(96,96,96) inset;
}

.progress progress[value]::-webkit-progress-value {
  background-color: rgb(96,96,96);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
