.progress {
  text-align: center;
  margin-top: 40px;
  color: white;
  background-color: transparent;
  display: block;
}

.progress progress {
  box-shadow: 0 0 60px var(--component-border-color);
  border: 1px solid var(--component-border-color);
}

.progress progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  background: var(--component-background-color);

  width: 390px;
  margin-left: 4px;
  margin-right: 4px;
}

.progress progress[value]::-moz-progress-bar {
  background: var(--component-content-color);
  border-radius: 2px;
  box-shadow: 0 0px 30px var(--component-border-color);
}

.progress progress[value]::-webkit-progress-bar {
  background: var(--component-background-color);
  border-radius: 2px;
  box-shadow: 0 0px 30px var(--component-border-color);
}

.progress progress[value]::-webkit-progress-value {
  background: var(--component-content-color);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  box-shadow: 0 0px 30px var(--component-border-color);
}
