.progress {
  text-align: center;
  margin-top: 40px;
  color: white;
  background-color: transparent;
  display: block;
}

.progress progress {
  box-shadow: 0 0 30px darkmagenta;
}

.progress progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  background: pink;

  width: 390px;
  margin-left: 4px;
  margin-right: 4px;
}

.progress progress[value]::-moz-progress-bar {
  background: deeppink;
  border-radius: 2px;
  box-shadow: 0 2px 10px darkmagenta;
}

.progress progress[value]::-webkit-progress-bar {
  background: pink;
  border-radius: 2px;
  box-shadow: 0 2px 10px darkmagenta;
}

.progress progress[value]::-webkit-progress-value {
  background: deeppink;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  box-shadow: 0 2px 10px darkmagenta;
}
